# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Shader Cache Files
RollerBall\Library\ShaderCache\

# Temp Files
RollerBall\Library\Temp\

# Meta Data
RollerBall\Library\metadata\